@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  list-style-type: none;
  text-decoration: none;
}

/*reset css はここまで*/
body {
  background: #ffffff;
  font-family: Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif;
}

.l-contents {
  max-width: 1200px;
  margin: 0 auto;
}

.l-contents_main_picture {
  max-width: 1200px;
}

.l-contents_main_picture img {
  width: 100%;
}

.l-contents_main_title {
  max-width: 1200px;
  max-height: 280px;
  padding: 80px 0;
  text-align: center;
  background-color: white;
}

.l-contents_main_title h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}

.l-contents_main_title p {
  font-size: 16px;
}

.l-contents_main_pictures {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-contents_main_pictures_1, .l-contents_main_pictures_2, .l-contents_main_pictures_3 {
  width: calc(100% / 3);
}

.l-contents_main_pictures_1 img, .l-contents_main_pictures_2 img, .l-contents_main_pictures_3 img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-contents_main_btn {
  max-width: 250px;
  text-align: center;
  margin: 60px auto;
  border: 1px #2b2a27 solid;
}

.l-contents_main_btn p {
  color: #2b2a27;
  padding: 18px 60px;
  font-size: 14px;
}

.l-contents_main_SNS {
  max-width: 180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-contents_main_SNS1, .l-contents_main_SNS2, .l-contents_main_SNS3 {
  margin-top: 40px;
  border-bottom: 1px solid #2b2a27;
  font-size: 12px;
}

.l-contents_main_SNS p {
  color: #2b2a27;
}

.l-contents_page_picture {
  margin: 0 60px;
  height: 480px;
  background-color: #E4E4E4;
}

@media (max-width: 599px) {
  .l-contents_page_picture {
    height: 197px;
    margin: 0 15px;
  }
}

.l-contents_page_article_about_h1 > h1 {
  font-family: Arial;
  font-size: 21.6px;
  font-weight: bold;
  margin: 30px 90px;
  color: #383E45;
}

@media (max-width: 599px) {
  .l-contents_page_article_about_h1 > h1 {
    margin: 30px 15px;
  }
}

.l-contents_page_article_about_sentence {
  font-family: Arial;
  margin: 20px 102px 20px 90px;
  font-size: 14.4px;
}

@media (max-width: 599px) {
  .l-contents_page_article_about_sentence {
    margin: 0px 15px;
  }
}

.l-contents_page_article_about_sentence > p {
  margin-bottom: 10px;
  color: #383E45;
}

.l-contents_page_article_about_back {
  font-family: Arial;
  font-size: 14.4px;
  margin: 60px 0 0px 0;
  text-align: center;
}

.l-footer {
  max-width: 600px;
  margin: 0 auto;
}

.l-footer p {
  font-size: 12px;
  font-family: Arial;
  font-weight: regular;
  padding: 20px 0;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */