.l-contents {
  max-width: 1200px;
  margin: 0 auto;
  &_main {
    &_picture {
      max-width: 1200px;

      img {
        width: 100%;
      }
    }
    &_title {
      max-width: 1200px;
      max-height: 280px;
      padding: 80px 0;
      text-align: center;
      background-color: white;
      h1 {
        margin-bottom: 20px;
      }
    }
    &_pictures {
      margin: 0 auto;
      max-width: 1200px;
      display: flex;
      &_1,
      &_2,
      &_3 {
        img {
          width: 100%;
        }
      }
    }
    &_btn {
      max-width: 250px;
      text-align: center;
      margin: 60px auto;
      border: 1px #2b2a27 solid;
      p {
        color: #2b2a27;
        padding: 18px 60px;
      }
    }
    &_SNS {
      max-width: 250px;
      margin: 0 auto;
      display: flex;
      text-align: center;
      justify-content: space-between;
      &1,
      &2,
      &3 {
        margin-top: 40px;
        border-bottom: 1px solid #2b2a27;
      }
      p {
        color: #2b2a27;
      }
    }
  }
}
