.l-contents {
  &_page {
    max-width: 100%;
    display: flex;
    &_picture {
      max-width: 600px;
      height: 700px;
      img {
        width: 100%;
      }
    }
    &_menu {
      padding: 40px 60px;
      &_title {
        h1 {
          font-size: 28px;
          font-weight: bold;
          padding-bottom: 20px;
        }
        p {
          font-size: 16px;
          padding-bottom: 40px;
        }
      }
      &_food {
        h2 {
          font-size: 20px;
          font-weight: bold;
          width: 100%;
          border-bottom: 1px solid #cccccc;
          margin-bottom: 20px;
        }
        dl {
          display: flex;
          flex-wrap: wrap;
          font-size: 16px;
          padding-bottom: 40px;
        }
        dt {
          width: 50%;
          border-bottom: 1px solid #cccccc;
        }
        dd {
          width: 50%;
          text-align: end;
          border-bottom: 1px solid #cccccc;
        }
      }
      &_method {
        h2 {
          font-size: 20px;
          font-weight: bold;
          width: 100%;
          border-bottom: 1px solid #cccccc;
          margin-bottom: 20px;
        }
        dl {
          display: flex;
          flex-wrap: wrap;
          font-size: 16px;
          padding-bottom: 40px;
        }
        dt {
          padding: 3px 0 0 0;
          width: 3%;
        }
        dd {
          width: 97%;
          text-align: start;
          border-bottom: 1px solid #cccccc;
        }
      }
    }
    &_btn {
      max-width: 250px;
      text-align: center;
      margin: 111px auto 0;
      border: 1px #2b2a27 solid;
      p {
        color: #2b2a27;
        padding: 18px 60px;
        font-size: 14px;
      }
    }
    &_SNS {
      max-width: 180px;
      margin: 0 auto;
      display: flex;
      text-align: center;
      justify-content: space-between;
      &1,
      &2,
      &3 {
        margin-top: 100px;
        border-bottom: 1px solid #2b2a27;
        font-size: 12px;
      }
      p {
        color: #2b2a27;
      }
    }
  }
}
